.heading {
	margin-top: 2%;
}

.manualoperaciones {
	margin: 3%;
}

.addEmployee {
	margin-top: 3%;
}

.obraAgregarEstado {
	padding-left: 1%;
	padding-right: 1%;
	margin-top: -1.4%;
}

.addObraForms {
	margin-top: 1%;
}

.generarPrestamo {
	margin-top: 3%;
}

.prestamosBoton {
	margin-top: .5%;
	margin-left: 50%;
}
